#translation-tooltip {
  position: absolute;
  background-color: #ffffff;
  color: #312b29;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9em;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
  pointer-events: auto;
  font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

#translation-tooltip.show {
  opacity: 1;
  visibility: visible;
}

#translation-tooltip::before,
#translation-tooltip::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
}

#translation-tooltip.tooltip-below-selection::before {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ccc;
  top: -10px;
}

#translation-tooltip.tooltip-below-selection::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  top: -8px;
}

#translation-tooltip.tooltip-above-selection::before {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #ccc;
  bottom: -10px;
}

#translation-tooltip.tooltip-above-selection::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ffffff;
  bottom: -8px;
}
